.vl-ab-line {
	height: 120px;
	span {
		width: 1px;
		height: 100%;
		position: relative;
		background-color: var(--vl-prime-c);
		&:before {
			left: -4px;
			right: 0;
			bottom: 0;
			width: 10px;
			height: 10px;
			content: "";
			margin: 0 auto;
			position: absolute;
			border-radius: 100%;
			background-color: var(--vl-prime-c);
		}
	}
}

.vl-about-content {
	.vl-sec-title {
		.sec_title {
			margin: 0 auto;
			font-size: 40px;
			max-width: 975px;
			color: var(--vl-title-color);
			span {
				color: var(--vl-prime-c);
			}
			@media #{$lg} {
				font-size: 40px;
			}
			@media #{$md,$sm,$xs} {
				font-size: 35px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
		}
	}
}

.vl-about-logo {
	gap: 20px;
}

.vl-about-card-wrapper {
	gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

@keyframes floatUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-18px);
	}
	100% {
		transform: translateY(0);
	}
}

.vl-about-card {
	padding: 20px;
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--vl-prime-c);
	&:is(.ver_2) {
		padding: 0;
	}
	&:is(.ver_3) {
		.item-icon {
			animation-delay: 0.4s;
		}
	}
	.item-text {
		margin: 0 auto;
		max-width: 315px;
		padding-top: 28px;
		h3 {
			color: #fff;
			font-size: 32px;
			line-height: 1.3;
			margin-bottom: 18px;
			letter-spacing: -.5px;
		}
		p {
			color: #FFFFFFCC;
		}
	}
	.item-icon {
		padding-top: 75px;
		padding-bottom: 75px;
		animation: floatUpDown 3.5s ease-in-out infinite;
	}
	.item-client {
		gap: 10px;
		border-radius: 6px;
		padding: 14px 20px;
		background-color: #fff;
		.client-avtr {
			display: flex;
			li {
				width: 40px;
				height: 40px;
				overflow: hidden;
				margin-left: -15px;
				border-radius: 100%;
				border: 2px solid #fff;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.item-rate {
			ul {
				gap: 2px;
				display: flex;
				li {
					font-size: 14px;
					color: var(--vl-prime-c);
				}
			}
			span {
				line-height: 1;
				font-size: 14px;
			}
		}
	}
}