.vl-faq-content {
	gap: 30px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #22222233;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.vl-sec-title {
		max-width: 430px;
		@media #{$sm,$xs,$xxs} {
			max-width: 100%;
		}
		.vl-btn {
			margin-top: 45px;
			a {
				padding: 17px 30px;
				color: var(--vl-prime-c);
				border: 1px solid #22222233;
			}
		}
	}
}

.vl-faq-wrapper {
	.accordion-item,
	.accordion-button {
		background-color: transparent;
		transition: all 200ms ease-in-out;
	}
	.accordion-item {
		border: none;
		position: relative;
		border-radius: 10px;
		margin-bottom: 20px;
		padding: 40px 30px 35px;
		border: 1px solid #07331B24;
		transition: all 200ms ease-in-out;
		@media #{$sm,$xs,$xxs} {
			padding-left: 15px;
		}
	}
	.accordion-button {
		padding: 0;
		border: none;
		color: #272C21;
		font-size: 24px;
		margin: 0 auto;
		line-height: 1;
		position: relative;
		span {
			max-width: 100%;
			display: inline-block;
			font-family: var(--vl-heading);
		}
		@media #{$md,$sm,$xs,$xxs} {
			font-size: 20px;
		}
	}

	.accordion-button:focus {
		box-shadow: none;
	}
	.accordion-body {
		padding: 0;
		color: #272C21;
		padding-top: 18px;
		transition: all 500ms ease-in-out;
	}
	.accordion-button::after {
		top: 1px;
		right: -5px;
		opacity: 1;
		color: #222222;
		display: flex;
		font-size: 18px;
		content: '\2b';
		font-weight: 900;
		position: absolute;
		border-radius: 100%;
		align-items: center;
		background-image: none;
		justify-content: center;
		font-family: 'Font Awesome 6 free';
		@media #{$md,$sm,$xs,$xxs} {
			right: -20px;
		}
	}
	.accordion-button:not(.collapsed) { 
		color: #000000;
		box-shadow: none;
		span {
			color: #000000;
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}

.vl-faq-wrapper {
	width: 100%;
	max-width: 680px;
	@media #{$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

