.vl-why-c-sec {
	.vl-sec-title {
		margin: 0 auto;
		max-width: 350px;
	}
}

@keyframes hithere {
	30% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	40%, 60% {
		-webkit-transform: rotate(-20deg) scale(1.2);
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		-webkit-transform: rotate(20deg) scale(1.2);
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		-webkit-transform: rotate(0deg) scale(1.2);
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


.vl-why-c-content {
	display: grid;
	gap: 80px 110px;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns:  1fr;
	}
}

.vl-why-c-item {
	.item-icon {
		width: 60px;
		height: 60px;
		margin-bottom: 48px;
	}
	.item-text {
		h3 {
			color: #222222;
			font-size: 24px;
			padding-bottom: 20px;
		}
		p {

		}
	}
	&:hover {
		.item-icon {
			animation: hithere 1s ease infinite;
		}
	}
}

.vl-text-scroll {
	padding-top: 25px;
	h3 {
		line-height: 1;
		font-size: 80px;
		margin: 0px 40px;
		display: inline-block;
	}
	i {
		top: -25px;
		position: relative;
		display: inline-block;
		animation: hithere 2s ease infinite;
	}
}

.vl-video-area {
	.vl-video-shape {
		top: 0;
		left: 0;
	}
	.item-video {
	}


}