.vl-why-c-sec {
	.vl-sec-title {
		margin: 0 auto;
		max-width: 350px;
	}
}

.vl-why-c-content {
	display: grid;
	gap: 80px 110px;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns:  1fr;
	}
}

.vl-why-c-item {
	.item-icon {
		margin-bottom: 48px;
	}
	.item-text {
		h3 {
			color: #222222;
			font-size: 24px;
			padding-bottom: 20px;
		}
		p {

		}
	}
}

.vl-text-scroll {
	h3 {
		line-height: 1;
		font-size: 80px;
		margin: 0px 40px;
		display: inline-block;
	}
	i {
		top: -25px;
		position: relative;
	}
}

.vl-video-area {
	.item-video {
		width: 1014px;
		height: 1014px;
		margin: 0 auto;
		overflow: hidden;
		clip-path: polygon( 50% 0%,50% 0%,50.12% 0.708%,50.491% 2.676%,51.13% 5.667%,52.053% 9.448%,53.277% 13.781%,54.818% 18.432%,56.694% 23.165%,58.922% 27.745%,61.516% 31.937%,64.496% 35.504%,64.496% 35.504%,68.063% 38.484%,72.255% 41.078%,76.835% 43.306%,81.568% 45.182%,86.219% 46.723%,90.552% 47.947%,94.333% 48.87%,97.324% 49.509%,99.292% 49.88%,100% 50%,100% 50%,99.292% 50.12%,97.324% 50.491%,94.333% 51.13%,90.552% 52.053%,86.219% 53.277%,81.568% 54.818%,76.835% 56.694%,72.255% 58.922%,68.063% 61.516%,64.496% 64.496%,64.496% 64.496%,61.516% 68.063%,58.922% 72.255%,56.694% 76.835%,54.818% 81.568%,53.277% 86.219%,52.053% 90.552%,51.13% 94.333%,50.491% 97.324%,50.12% 99.292%,50% 100%,50% 100%,49.88% 99.292%,49.509% 97.324%,48.87% 94.333%,47.947% 90.552%,46.723% 86.219%,45.182% 81.568%,43.306% 76.835%,41.078% 72.255%,38.484% 68.063%,35.504% 64.496%,35.504% 64.496%,31.937% 61.516%,27.745% 58.922%,23.165% 56.694%,18.432% 54.818%,13.781% 53.277%,9.448% 52.053%,5.667% 51.13%,2.676% 50.491%,0.708% 50.12%,0% 50%,0% 50%,0.708% 49.88%,2.676% 49.509%,5.667% 48.87%,9.448% 47.947%,13.781% 46.723%,18.432% 45.182%,23.165% 43.306%,27.745% 41.078%,31.937% 38.484%,35.504% 35.504%,35.504% 35.504%,38.484% 31.937%,41.078% 27.745%,43.306% 23.165%,45.182% 18.432%,46.723% 13.781%,47.947% 9.448%,48.87% 5.667%,49.509% 2.676%,49.88% 0.708%,50% 0% );
	}
}