.vl-rm3-title {
	font-size: 130px;
	line-height: 1.2;
	letter-spacing: -2.8px;
	font-family: var(--vl-heading);
	background: linear-gradient(180deg, rgba(34, 34, 34, 0.14) -11.44%, rgba(34, 34, 34, 0) 114.83%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@media #{$sm} {
		font-size: 100px;
	}
	@media #{$xs} {
		font-size: 80px;
	}
	@media #{$xxs} {
		font-size: 60px;
	}
	@media #{$xxxs} {
		font-size: 50px;
	}
}

.vl-room3-item {
	.item-inner-wrap {
		z-index: 1;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
			height: 100%;
			content: '';
			position: absolute;
			background: #180A0966;
		}
		.item-price {
			width: 200px;
			height: 220px;
			margin: 0 auto;
			padding-top: 50px;
			background-color: var(--vl-prime-c);
			h3 {
				color: #fff;
				font-size: 48px;
				padding-bottom: 10px;
				letter-spacing: -.5px;
			}
			span {
				color: #fff;
				font-size: 24px;
			}
		}
	}
	.item-title-text {
		h2 {
			color: #fff;
			font-size: 80px;
			line-height: 1.2;
			letter-spacing: -2px;
		}
		.inner-tag {
			gap: 15px 30px;
			flex-wrap: wrap;
			display: flex;
			padding-bottom: 25px;
			margin-bottom: 30px;
			a {
				gap: 6px;
				color: #ECE5D6;	
				line-height: 1;
				display: flex;
				align-items: center;
			}
		}
		.book_btn {
			font-size: 14px;
			border-radius: 6px;
			padding: 14px 30px;
			background-color: #fff;
			color: var(--vl-prime-c);
		}
		p {
			color: #FFFFFF;
			margin: 0 auto;
			max-width: 410px;
			padding-top: 160px;
		}
	}
}