.vl-footer-sec {
	background-color: var(--vl-prime-c);
}

.vl-insta-feed {
	a {
		color: #fff;
		font-size: 14px;
		margin-bottom: 25px;
		letter-spacing: .5px;
	}
	.insta-feed-wrap {
		gap: 20px;
		display: flex;
		justify-content: center;
		@media #{$md,$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
		.item-img {
			width: 200px;
			height: 200px;
			overflow: hidden;
			border-radius: 10px;
			@media #{$xxs} {
				width: 120px;
				height: 120px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 300ms ease-in-out;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}
.vl-footer-widget-wrap {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.vl-footer-widget {
	width: 100%;
	max-width: 380px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.newslatter-widget {
		width: 100%;
		h3 {
			color: #fff;
			line-height: 1;
			font-size: 32px;
			padding-bottom: 50px;
		}
		form {
			position: relative;
			input {
				width: 100%;
				border: none;
				height: 40px;
				color: #FFFFFFCC;
				padding-bottom: 16px;
				background-color: transparent;
				border-bottom: 1px solid #FFFFFF33;
				&::placeholder {
					color: #FFFFFFCC;
				}
			}
			button {
				right: 0;
				top: 2px;
				border: none;
				font-size: 14px;
				color: #FFFFFFCC;
				position: absolute;
				transition: all 500ms ease-in-out;
				background-color: transparent;
				i {
					transform: rotate(-45deg);
				}
				&:hover {
					letter-spacing: .5px;
				}
			}
			span {
				gap: 10px;
				display: flex;
				color: #FFFFFF;
				line-height: 1;
				margin-top: 30px;
				align-items: center;
				a {
					text-decoration: underline;
				}
				input {
					width: 16px;
					height: 16px;
					background-color: #ECE5D6;
					border: 1px solid #FFFFFF;
				}
			}
		}
	}
}

.vl-footer-widget-area {
	gap: 30px;
	width: 100%;
	display: flex;
	max-width: 665px;
	justify-content: space-between;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.vl-footer-widget2 {
	.menu-widget {
		li {
			margin-bottom: 10px;
			a {
				color: #fff;
				position: relative;
				&:before {
					left: 0;
					bottom: 0;
					width: 0%;
					height: 1px;
					content: '';
					position: absolute;
					background-color: #fff;
					transition: all 500ms ease-in-out;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	.cta-widget {
		li {
			color: #fff;
			margin-bottom: 10px;
		}
	}
}

.vl-footer-brand {
	font-size: 292px;
	line-height: 1.2;
	letter-spacing: -5.84px;
	font-family: var(--vl-heading);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) -36.94%, #7B2F2D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@media #{$lg} {
		font-size: 200px;
	}
	@media #{$md} {
		font-size: 180px;
	}
	@media #{$sm} {
		font-size: 150px;
	}
	@media #{$xs} {
		font-size: 120px;
	}
	@media #{$xxs} {
		font-size: 70px;
	}
}

.vl-ftr-copyright {
	gap: 10px;
	flex-wrap: wrap;
	padding: 20px 0px;
	p {
		color: #fff;
	}
	ul {
		gap: 5px 25px;
		display: flex;
		flex-wrap: wrap;
		li {
			position: relative;
			a {
				color: #fff;
				&:hover {
					color: var(--vl-prime-c2);
				}
			}
			&:before {
				top: 5px;
				width: 1px;
				left: -13px;
				content: '';
				height: 15px;
				position: absolute;
				background-color: #fff;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

.vl-ftr2-sec {
	margin-top: -49px;
	background-color: #272D22;
}

.vl-ftr2-content {
	.item-text {
		margin: 0 auto;
		max-width: 365px;
		p {
			font-size: 20px;
			color: #FFFFFFCC;
		}
	}
	.item-social {
		gap: 60px;
		display: flex;
		a {
			color: #fff;
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			border: 1px solid #FFFFFF33;
			&:hover {
				color: #635D3B;
				background-color: #fff;
			}
		}
	}
}

.vl-ftr2-copyright {
	color: #FFFFFF;
	padding: 25px 0px;
	border-top: 1px solid #FFFFFF33;
}






