.vl-dining-title {
	h2 {
		color: #272D22;
		font-size: 80px;
		letter-spacing: -1px;
		@media #{$lg} {
			font-size: 60px;
		}
		@media #{$md,$sm,$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
}

.vl-dining-item {
	gap: 30px;
	padding: 40px 0px;
	border-bottom: 1px solid #22222233;
	.item-text-icon {
		flex-wrap: wrap;
		gap: 20px 40px;
	}
	.item-icon {
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.item-text {
		h3 {
			color: #272D22;
			font-size: 28px;
			padding-bottom: 10px;
			letter-spacing: -.7px;
			&:hover {
				color: var(--vl-prime-c);
			}
		}
	}
	.item-img {
		width: 200px;
		height: 120px;
		overflow: hidden;
		border-radius: 6px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
			}
		}
	}
}

.vl-video2-sec {
	.item-video {
		overflow: hidden;
		max-height: 700px;
		border-radius: 10px;
	}
}