.vl-moment-top {
	h3 {
		color: #635D3B;
		font-size: 48px;
		max-width: 355px;
		line-height: 1.2;
		letter-spacing: -1px;
	}
	.item-desc {
		max-width: 500px;
		p {
			color: #555555;
			line-height: 1.6;
		}
		a {
			color: #272D22;
			line-height: 1;
			margin-top: 40px;
			padding: 17px 30px;
			border-radius: 6px;
			border: 1px solid #22222233;
		}
	}
}